.section2{
    border: 2px solid;
    margin-top:20px;
    min-height: 420px;
    margin-bottom: 20px;
  
}
.pad0{
    padding:0px;
}
.head_sec2{
   
    text-align: center;
   
  }
  .display-inline{
      display:inline-block;
  }

  .item-desc{
    margin: 30px 0px 20px 0px;
    border-bottom:1px solid;
  }
  .item-name{
      display:inline-block;
      margin-left:15px;
  }
  .item-total{
    margin: 20px 0px 37px 0px;
    border-bottom:2px solid; 
  }
  .font-weight600{
      font-weight: 600;
  }